@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.whole__page {
    padding: 32px;
}

a {
    text-decoration: none;
    color: #243E63;
    font-weight: bold;
    font-size: 14px;
}

.a__underline:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    transition: opacity 300ms ease;
    opacity: 1;
}

button:hover {
    opacity: 0.8;
}

h1 {
    color: #243E63;
    font-size: 48px;
}

h2 {
    font-size: 12px;
    color: #A0A3C0;
}

h3 {}

/* NAV */

#nav__bar {
    padding-bottom: 48px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img-logo--wrapper {
    display: flex;
    align-items: center;
}

.nav__img-logo {
    width: 100%;
    max-width: 40px;
    margin: 0 12px 0 0;
}

.nav__heading {
    font-size: 24px;
    font-weight: 900;
    margin-right: 24px;
    text-decoration: none;
}

.nav__heading:hover {
    color: #6415ff;
}

.nav__links__right {
    width: 100%;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
}

.nav__links__right__four {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links__right__two {
    width: 32.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 100%;
    max-width: 118.98px;
    background-color: #6415ff;
    color: #F7FAFC;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
}


/* Landing page */

#landing__page {
    margin: 56px 0;
}

.color__purple {
    color: #6415ff;
}

.landing__page__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__page__left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input__button {
    width: 100%;
    max-width: 160px;
    background-color: #6415ff;
    color: #F7FAFC;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    border-radius: 9999px;
    border: none;
    z-index: 1;
    position: absolute;
}

.input__field {
    width: 100%;
    border-radius: 9999px;
    border-width: 2px;
    border-color: rgb(226, 232, 240);
    font-weight: 500;
    padding: 20px 192px 20px 32px;
    z-index: 0;
}

.landing__page__left__para {
    color: #243E63;
    font-size: 18px;
    line-height: 1.625;
    margin: 32px 0;
}

.customers__img {
    width: 100%;
    margin: 16px 0 0;
    padding: 0 128px 0 0;
    opacity: 0.5;
}

.landing__page__left--wrapper {
    margin: 80px 0 0;
}

.landing__page__right {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.landing__page__img {
    width: 100%;
    padding-left: 48px;
    max-width: 5800px;
}

/* Features */

.container {
    padding: 80px 0;
}

.features__row {
    padding: 32px;
}

.features__top {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__heading {
    font-size: 16px;
    margin: 0 0 16px;
}

.features__heading2 {
    color: #243E63;
    font-size: 48px;
}

.features__para {
    width: 100%;
    max-width: 576px;
    color: #7C8BA1;
    font-size: 18px;
    line-height: 1.625;
    margin: 16px 0 0;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    align-items: center;
    width: calc(100%/3);
    padding: 32px 8px;
}

.service__img__figure {
    width: 100%;
    height: 100%;
    max-width: 66px;
    max-height: 66px;
    content: 'test';
    border-style: solid;
    border-width: 1px;
    border-color: rgba(226, 232, 240);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
}

.service__title {
    color: #243E63;
    font-size: 24px;
    margin: 16px 0 0;
}

.service__para {
    color: #7C8BA1;
    width: 100%;
    max-width: 212px;
    line-height: 2;
    margin: 16px 0 0;
}

/* Quality work */


.qualitywork__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 96px 0;
}

.qualitywork__page__left {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}

.qualitywork__heading {
    font-size: 16px;
}

.qualitywork__heading2 {
    color: #243E63;
    margin: 16px 0 0;
}

.qualitywork__para {
    color: #7C8BA1;
    font-size: 18px;
    line-height: 1.625;
    margin: 16px 0 0;
}

.learn-more__button {
    width: 100%;
    max-width: 142px;
    background-color: #6415ff;
    color: #F7FAFC;
    font-size: 14px;
    font-weight: bold;
    margin: 32px 0 0;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
}

.qualitywork__page__right {
    display: flex;
}

.qualitywork__img--wrapper {
    width: 100%;
}

.quality__work__img {
    border: 1px solid rgb(226, 232, 240);
    border-radius: 5px;
    max-width: 640px;
}

/* Steps */

.steps__row {
    display: flex;
    margin: 0 auto;
    padding: 96px 0;
}

.steps__page__left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 0 0;
}

.steps__img {
    max-width: 100%;
}

.steps__page__right {
    display: flex;
    flex-direction: column;
}

.steps__heading {
    font-size: 16px;
}

.steps__heading2 {
    font-size: 48px;
    margin: 16px 0 0;
}

.step__num {
    font-size: 32px;
}

.step__description {
    margin: 0 0 0 24px;
}

.step__title {
    color: #243E63;
    font-size: 20px;
}

.step__para {
    color: #718096;
    font-size: 14px;
    margin: 12px 0 0;
    line-height: 2;
}

.step {
    display: flex;
    margin: 32px 0 0;
}

/* Values */

.values__row {
    display: flex;
    padding: 96px 0;
}

.values__left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 16px 0 0;
}

.values__heading {
    font-size: 16px;
}

.values__heading2 {
    margin: 16px 0 0;
}

.values__para {
    color: #7C8BA1;
    line-height: 1.625;
    font-size: 18px;
    margin: 32px 0 0;
}

.values {
    display: flex;
}

.value {
    margin: 32px 32px 0 0;
}

.value__2 {
    margin: 32px 0 0 0;
}

.value__headings {
    display: flex;
    align-items: center;
}

.fa-solid {
    border: 0px solid #243E63;
    font-size: 20px;
    border-radius: 9999px;
    padding: 8px;
}

.fa-dollar-sign {
    background-color: #9AE6BA;
}

.fa-user-tie {
    background-color: #feb2b2;
}

.value__heading {
    color: #243E63;
    font-size: 20px;
    margin: 0 0 0 12px;
}

.value__description {
    color: #718096;
    line-height: 1.625;
    margin: 16px 0 0 0;
}

.values__button {
    margin: 48px 0 0;
}

.values__right {
    width: 50%;
}

.values__img {
    width: 100%;
}

/* Pricing */
