@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.whole__page {
    padding: 32px;
}

a {
    color: #243E63;
    font-weight: bold;
    font-size: 14px;
    transition: all 300ms ease;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #6415ff;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

button {
    cursor: pointer;
    transition: background-color 300ms ease;
}

.purple__button:hover {
    background-color: #4e11ca;
}

h1 {
    color: #243E63;
    font-size: 48px;
}

h2 {
    font-size: 12px;
    color: #A0A3C0;
}

.no__cursor{
    cursor: no-drop;
}

h3 {}

/* NAV */

#nav__bar {
    padding-bottom: 48px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img-logo--wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav__img-logo--wrapper:hover {
    text-decoration: none;
}

.nav__img-logo {
    width: 100%;
    max-width: 40px;
    margin: 0 12px 0 0;
}

.nav__heading {
    font-size: 24px;
    font-weight: 900;
    margin-right: 24px;
    text-decoration: none;
}

.nav__heading:hover {
    color: #6415ff;
}

.nav__links__right {
    width: 100%;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
}

.nav__links__right__four {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a__underline:hover {
    color: #6415ff;
}

.nav__links__right__two {
    width: 32.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 100%;
    max-width: 118.98px;
    background-color: #6415ff;
    color: #F7FAFC;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
}

/* Landing page */

#landing__page {
    margin: 56px 0;
}

.color__purple {
    color: #6415ff;
}

.landing__page__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__page__left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input__button {
    width: 100%;
    max-width: 160px;
    background-color: #6415ff;
    color: #F7FAFC;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    border-radius: 9999px;
    border: none;
    z-index: 1;
    position: absolute;
}

.input__field {
    width: 100%;
    border-radius: 9999px;
    border: 2px solid rgb(226, 232, 240);
    font-weight: 500;
    padding: 20px 192px 20px 32px;
    z-index: 0;
    transition: border-color 300ms ease;
}

.input__field:hover {
    border-color: rgb(160, 164, 170);
}

.landing__page__left__para {
    color: #243E63;
    font-size: 18px;
    line-height: 1.625;
    margin: 32px 0;
}

.customers__img {
    width: 100%;
    margin: 16px 0 0;
    padding: 0 128px 0 0;
    opacity: 0.5;
}

.landing__page__left--wrapper {
    margin: 80px 0 0;
}

.landing__page__right {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.landing__page__img {
    width: 100%;
    padding-left: 48px;
    max-width: 5800px;
}

/* Features */

.container {
    padding: 96px 0;
}

.features__row {}

.features__top {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__heading {
    font-size: 16px;
    margin: 0 0 16px;
}

.features__heading2 {
    color: #243E63;
    font-size: 48px;
}

.features__para {
    width: 100%;
    max-width: 576px;
    color: #7C8BA1;
    font-size: 18px;
    line-height: 1.625;
    margin: 16px 0 0;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    align-items: flex-start;
    width: calc(100%/3);
    padding: 32px 8px;
}

.service__img__figure {
    width: 100%;
    height: 100%;
    max-width: 66px;
    max-height: 66px;
    content: 'test';
    border-style: solid;
    border-width: 1px;
    border-color: rgba(226, 232, 240);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
}

.service__title {
    color: #243E63;
    font-size: 24px;
}

.service__para {
    color: #7C8BA1;
    width: 100%;
    max-width: 212px;
    line-height: 2;
    margin: 16px 0 0;
}

/* Quality work */

.qualitywork__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 96px 0;
}

.qualitywork__page__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}

.qualitywork__heading {
    font-size: 16px;
}

.qualitywork__heading2 {
    color: #243E63;
    margin: 16px 0 0;
}

.qualitywork__para {
    color: #7C8BA1;
    font-size: 18px;
    line-height: 1.625;
    margin: 16px 0 0;
}

.learn-more__button {
    width: 100%;
    max-width: 142px;
    background-color: #6415ff;
    color: #F7FAFC;
    font-size: 14px;
    font-weight: bold;
    margin: 32px 0 0;
    padding: 12px 32px;
    border-radius: 9999px;
    border: none;
}

.qualitywork__page__right {
    width: 50%;
    display: flex;
    padding: 0 0 0 16px;
}

.qualitywork__img--wrapper {
    width: 100%;
}

.quality__work__img {
    width: 100%;
    max-width: 640px;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 5px;
    max-width: 640px;
}

/* Steps */

.steps__row {
    display: flex;
    margin: 0 auto;
    padding: 96px 0;
}

.steps__page__left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 0 0;
}

.steps__img {
    max-width: 100%;
}

.steps__page__right {
    display: flex;
    flex-direction: column;
}

.steps__heading {
    font-size: 16px;
}

.steps__heading2 {
    font-size: 48px;
    margin: 16px 0 0;
}

.step__num {
    font-size: 32px;
}

.step__description {
    margin: 0 0 0 24px;
}

.step__title {
    color: #243E63;
    font-size: 20px;
}

.step__para {
    color: #718096;
    font-size: 14px;
    margin: 12px 0 0;
    line-height: 2;
}

.step {
    display: flex;
    margin: 32px 0 0;
}

/* Values */

.values__row {
    display: flex;
    padding: 96px 0;
}

.values__left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 16px 0 0;
}

.values__heading {
    font-size: 16px;
}

.values__heading2 {
    margin: 16px 0 0;
}

.values__para {
    color: #7C8BA1;
    line-height: 1.625;
    font-size: 18px;
    margin: 32px 0 0;
}

.values {
    display: flex;
}

.value {
    margin: 32px 32px 0 0;
}

.value__2 {
    margin: 32px 0 0 0;
}

.value__headings {
    display: flex;
    align-items: center;
}

.value__fa-solid {
    border: 0px solid #243E63;
    font-size: 20px;
    border-radius: 9999px;
    padding: 8px;
}

.fa-dollar-sign {
    background-color: #9AE6BA;
}

.fa-user-tie {
    background-color: #feb2b2;
}

.value__heading {
    color: #243E63;
    font-size: 20px;
    margin: 0 0 0 12px;
}

.value__description {
    color: #718096;
    line-height: 1.625;
    margin: 16px 0 0 0;
}

.values__button {
    margin: 48px 0 0;
}

.values__right {
    width: 50%;
}

.values__img {
    width: 100%;
}

/* Pricing */

.pricing__row {
    padding: 96px 0;
}

.pricing__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 0 0;
}

.pricing__heading {
    font-size: 16px;
    margin: 0 0 16px;
}

.pricing__para {
    color: #7C8BA1;
    font-size: 18px;
    width: 576px;
    line-height: 1.625;
    margin: 16px 0 0;
}

.prices {
    display: flex;
    flex-wrap: wrap;
}

.price__wrapper {
    width: calc(100%/3.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 64px 32px 0 0;
}

.price {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(226, 232, 240);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.price__purple {
    padding: 9.31px 0 0;
}

.price__header__color1,
.price__header__color3 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 1vh;
}

.price__header__color1 {
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.price__header__color2 {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.price__header__color3 {
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.price__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
}

.price__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 32px;
}

.price__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 64px;
}

.purple__bkg {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.price__top,
.price__middle {
    border-bottom: 1px solid rgb(226, 232, 240);
}

.purple__border {
    padding: (32+9.31) 32 0 0;
    border-bottom: 1px solid rgb(102, 126, 234);
    color: #F7FAFC;
}

.price__title {
    font-size: 20px;
}

.price__price {
    font-size: 48px;
    margin: 4px 0;
}

.price__peridocials {
    font-size: 16px;
}

.price__individuals {
    font-size: 20px;
    font-weight: bold;
}

.middle-span {
    font-size: 16px;
    margin: 20px 0 0;
}

.buy__now__button {
    width: 100%;
    max-width: 192px;
    font-size: 14px;
    font-weight: bold;
    padding: 16px 32px;
    border-radius: 9999px;
    border: none;
    transition: all 300ms ease;
}

.price__bt1 {
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: #F7FAFC;
}

.price__bt2 {
    background-image: rgb(247 250 252);
    color: #6415ff;
}

.price__bt3 {
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: #F7FAFC;
}


.price__bt2:hover {
    background-image: rgb(180, 183, 185);
}

.price__bt1:hover,
.price__bt2:hover,
.price__bt3:hover {
    transform: translate(2px, -2px);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .8);
}

/* Testimonials */

.testimonials__row {
    display: flex;
    padding: 96px 0;
}

.testimonials__left {
    width: 50%;
    display: flex;
    align-items: center;
}

.testimonials__img {
    width: 100%;
    max-width: 600px;
}

.testimonials__right {
    width: 50%;
    padding: 0 0 0 64px;
}

.testimonials__heading {
    font-size: 16px;
}

.testimonials__heading2 {
    color: #243E63;
    font-size: 48px;
    margin: 16px 0 0;
}

.testimonials__para {
    color: #7c8ba1;
    font-size: 18px;
    line-height: 1.625;
    margin: 24px 0 0;
}

.testimony {
    display: flex;
    flex-direction: column;
}

.rating {
    color: rgb(246, 173, 85);
    margin: 32px 0 0;
}

.short__statment {
    color: #243e63;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.625;
    margin: 16px 0 0;
}

.testimony__para {
    color: #4a5568;
    font-size: 16px;
    line-height: 1.625;
    margin: 16px 0 40px;
}

.testimony__footer {
    display: flex;
    justify-content: space-between;
}

.testimony__person {
    display: flex;
    align-items: center;
}

.testimony__person__img {
    width: 100%;
    max-width: 80px;
    border-radius: 9999px;
}

.testimony__person__contact {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
}

.testimony__name {
    color: #243e63;
    font-size: 20px;
}

.testimony__compnay {
    color: #7c8ba1;
    font-size: 16px;
}

.side__buttons {
    display: flex;
    margin: auto 0;
}

.side__button {
    color: rgb(100, 21, 255);
    width: 100%;
    height: 100%;
    max-width: 48px;
    max-height: 48px;
    border: 1px solid white;
    border-radius: 9999px;
    padding: 16px;
    margin: 0 12px;
    transition: background-color 300ms ease;
    background-color: #edf2f7;
}

.side__button__divider {
    max-height: 30px;
    border-right: 1px solid rgb(226, 232, 240);
    margin: 12px 0;
}

.side__button:hover {
    background-color: #bac1c7;
}

/* FAQS */

#faqs {}

.faqs__row {
    display: flex;
    flex-direction: column;
    padding: 96px 0;
}

.faqs__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.faqs__heading {
    font-size: 16px;
    margin: 0 0 16px;
}

.faqs__haeding2 {}

.faqs__para {
    width: 100%;
    max-width: 576px;
    line-height: 1.625;
    color: #7c8ba1;
    margin: 16px 0 0;
}

.faqs__questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 0 0;
}

.questions__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 896px;
}

.question {
    width: 100%;
    max-width: 896px;
    margin: 20px 0 0;
}

.question__button--wrapper {
    width: 100%;
    display: flex;
    transition: background-color 300ms ease;
    background-color: #edf2f7;
    border: none;
    border-radius: 10px;
    padding: 16px 40px;
}

.question__button {
    width: 100%;
    text-align: left;
    color: #2d3748;
    font-size: 20px;
    font-weight: bold;
}

.fa-chevron-down {
    color: #2d3748;
    font-size: 20px;
}

.faqs__button:hover {
    background-color: #bac1c7;
}

/* page info break */

.page-info-break__row {
    padding: 96px 0;
}

.page-info-break__box {
    background-color: rgb(100, 21, 255);
    width: 100%;
    height: 282px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-info-break__box--wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    margin: 0 128px;
}

.page-info-break__para {
    width: 50%;
    max-width: 480px;
    font-size: 30px;
    font-weight: bold;
    color: #F7FAFC;
    line-height: 1.5;
}

.page-info-break__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.page-info-break__button {
    width: 100%;
    max-width: 176.88px;
    height: 66px;
    color: #F7FAFC;
    font-size: 16x;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 9999px;
}

.get-started__button {
    background-color: rgb(245, 101, 101);
    margin: 0 32px 0 0;
    border: none;
}

.get-started__button:hover {
    background-color: rgb(192, 79, 79);
}

.contact-us__button {
    max-width: 173.66px;
    background-color: rgb(100, 21, 255);
    border: 1px solid white;
}

.contact-us__button:hover {
    background-color: white;
    color: rgb(100, 21, 255);
}

/* Footer */

.footer--wrapper {
    width: 100%;
    background-color: rgb(100, 21, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0 0;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 48px 0 0;
}

.column__heading {
    color: #f7fafc;
    font-size: 16px;
}

.footer__link {
    color: #f7fafc;
    font-weight: normal;
    font-size: 14px;
    margin: 12px 0 0;
    transition: all 300ms ease;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.footer__middle {
    width: 100%;
    max-width: 1280px;
    border-bottom: 2px solid rgb(116 44 255);
    margin: 64px 0;
}

.footer__bottom {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 96px;
}

.footer__left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__logo {
    width: 100%;
    max-width: 32px;
}

.footer__logo__title {
    width: 100%;
    font-size: 20px;
    color: #f7fafc;
    margin: 0 0 0 8px;
}

.footer__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copyright {
    font-size: 16px;
    color: #cbd5e0;
}

.footer__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    border-radius: 9999px;
    border: none;
    background-color: #f7fafc;
    padding: 8px;
}

.footer__social:hover {
    background-color: #c2c6c9;
}

.button__margin {
    margin: 0 16px 0 0;
}